# User-specific stuff:
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
/.idea/libraries
/.idea/gradle.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/libraries
.idea/gradle.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/compiler.xml

*.iml
.gradle
/local.properties
.DS_Store
/build
/captures

gradle
gradle/*
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties